* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}
header {
    display:flex;
    background-color: aqua;
    justify-content: center;
    height: 20vh;
}
body {
    display:flex;
    flex-direction:column;
    height: 65vh;
}
footer {
    height 15vh;
    background-color: aqua;
}
.div-container {
    border-color: black;
    padding: 20px;
    justify-content: flex-end;
    
  
  
}  
.imagen1 .imagen2 .imagen3 .imagen4{
    padding: 20px;
   
} 
.imagen1 {
    flex-basis: 20px;
    background-color: black;
}
