@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

.header-container {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1vw; /*relativo al viewport*/
    height: 10vh;
    font-size: 2vh;
}
.main-content {
    background-color: rgb(220, 226, 43);
    height: 85vh;
    display: flex;
}
.videos-container {
    background-color: blue;
    width: 70vw;
}
.appoinment-container {
    background-color: bisque;
    width: 30vw;
}
.appoinment {
    background-color: rgb(255, 255, 255);
    padding: 0.5vw;
    border-radius: 5px;
    height: 10vh;
    margin: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.miImg {
    width: inherit !important;
    height: 100%;
}

.marquee-container {
    height: calc(100vh - 95vh);
}
.marquee-container {
    display: flex;
    justify-content: center;
}