* {
    color:cadetblue;
}
/*ESTO CLASE*/
.parrafo {
    color:blueviolet !important;
    font-size: 14px;
}

/*ID*/
#parrafoId {
    color:aqua;
    font-size: 18px !important;
}

/*
    .clase: es para muchas etiquetas
    #id: esto es para un unico elemento en el html
    etiqueta: p,h,etc
*/

/*TIPO*/
p {
    color:blue;
    font-size: 12px;
}
/*clase es mas espeficio que el tipo*/
/*!important > inline > id > clase > tipo*/

#text-content p#pepe{
    color:black !important;
}
#text-content >p{
    color:brown !important;
}
/*
#text-content p {
    color:brown;
}
*/

/*selectores AVANZADOR*/
/*selector hijo > */
#listado > li > a {
    color:blue
}

/*selecor hermanos adyacente + */
h1 + p {
    font-size: 25px;
}

/*hermano general ~ */
h1 ~ p {
    color:blueviolet;
    font-size: 18px
}

/*pseudo-clases*/
/*
 first-child: toma el primer elemento
 last-child: toma al último
*/
p:first-child {

}
p:last-child {

}